@use 'variables' as v; /* Usar el alias 'v' para acceder a las variables */
@keyframes fadeInUp {
  from {
    opacity: 0.8;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#mi-foto {
  width: 450px; /* Tamaño de la imagen */
  height: 450px; /* Aseguramos que la imagen sea cuadrada */
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(100px); /* Se posiciona más abajo */
  border-radius: 50%; /* Hace la imagen redonda */
  object-fit: cover; /* Asegura que la imagen cubra todo el área sin deformarse */
  animation: fadeInUp 1.5s ease-out forwards; /* Aplicar animación */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);


}
