@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: v.$bg-color;
  color: v.$secondary-color;
  transition: background-color 1s ease;
  animation: fadeIn 1s ease-out;
}

img {
  max-width: 100%;
}

.body1 {
  font-family: "Poppins", sans-serif;
  background-color: v.$white-color;
  color: v.$secondary-color;
}

a {
  color: v.$secondary-color;
}

body:focus-within {
  background-color: v.$white-color;
}

/* Definir la animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}