@use 'variables' as v; /* Usar el alias 'v' para acceder a las variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: v.$header-bg-color; /* Usar 'v.$primary-color' para acceder a la variable */
  color: v.$primary-color; /* Lo mismo aquí */
}

img {
  max-width: 100%;
}

.body1 {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: rgb(44, 62, 80);
}

a{
  color: rgb(44, 62, 80);
}



body {
  background-color: #f4f4f9; /* Color inicial */
  transition: background-color 1s ease; /* Efecto de transición */
}

body:focus-within {
  background-color: #ffffff; /* Color durante la navegación */
}


/* Definir la animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplicar la animación a la página */
body {
  animation: fadeIn 1s ease-out; /* Desvanecimiento cuando se carga la página */
}