@use 'mixins' as *;
@use 'variables' as *;

header {
  @include header-base;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $primary-color !important;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  color: $light-gray;
  display: block;
  font-weight: 600;
  transition: color 0.3s ease;
}

.menu .navbar ul li a:hover {
  color: $secondary-color;
}

.menu .navbar ul li a:active {
  color: $secondary-color;
}

#menu {
  display: none;
}

.menu-icono {
  width: 37px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-txt {
  text-align: center;
  padding: 40px 150px;
}

.header-txt h1 {
  font-size: 55px;
  line-height: 1;
  color: $primary-color;
  margin-bottom: 25px;
  font-weight: 900;
}

span {
  color: $secondary-color;
}

p {
  font-size: 17px;
  margin-bottom: 35px;
}

/* ------------------------ */
/* RESPONSIVE STYLES FOR MOBILE */
/* ------------------------ */

@media (max-width: 400px) {
  /* HEADER */
  .header-txt {
    padding: 20px 10px; /* Reducir padding para pantallas pequeñas */
  }

  .header-txt h1 {
    font-size: 30px; /* Reducir tamaño del título */
    margin-bottom: 10px;
  }

  .sobremi{
    font-size: 30px; 
  }

  p {
    font-size: 12px; /* Reducir tamaño del párrafo */
    margin-bottom: 25px;
  }

  /* LOGO */
  .logo {
    font-size: 20px; /* Reducir el tamaño del logo en móviles */
  }


  }






  @media (max-width: 400px) {
    .navbar-collapse {
        display: flex !important;
        justify-content: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row; /* Asegura que los elementos estén en línea */
        gap: 15px; /* Espaciado entre los ítems */
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .navbar-nav .nav-item {
        display: inline-block;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }

    .menu .navbar ul li a {
      font-size: 14px;
    }
}
