// _timeline.scss
@use 'variables' as *;
@use 'mixins' as *;

.timeline {
  position: relative;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px 0;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 4px;
      background: #dee2e6;
      transform: translateX(-50%);
  }
}

.timeline-item {
  position: relative;
  width: 45%;
  margin-bottom: 2rem;
  padding: 10px 20px;
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

  &.left {
      margin-right: 55%;
      text-align: right;
  }

  &.right {
      margin-left: 55%;
      text-align: left;
  }

  &::before {
      content: "";
      position: absolute;
      top: 10px;
      width: 12px;
      height: 12px;
      background-color:$secondary-color;
      border-radius: 50%;
  }

  &.left::before {
      right: -9px;
  }

  &.right::before {
      left: -9px;
  }
}

.timeline-content {
  h3 {
      font-size: 1.5rem;
      color: $secondary-color;
      margin-bottom: 5px;
  }

  p {
      font-size: 1rem;
      color: #333;
  }
}

.skills {
  margin-top: 20px;
  h3 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      color: $secondary-color;
  }

  .skill {
      margin-bottom: 1rem;
      h4 {
          font-size: 1rem;
          margin-bottom: 5px;
      }

      .progress-bar {
          width: 100%;
          background-color: #f0f0f0;
          border-radius: 10px;
          overflow: hidden;
          height: 10px;

          .progress {
              height: 100%;
              background-color: $secondary-color;
              border-radius: 10px;
          }
      }
  }
}

/* Responsivo para móviles */
@media (max-width: 768px) {
  .timeline::before {
      left: 10px;
  }

  .timeline-item {
      width: 100%;
      margin: 10px 0;
      text-align: left;
      padding-left: 30px;

      &::before {
          left: 5px;
      }
  }

  .timeline-item.left,
  .timeline-item.right {
      margin-left: 0;
      margin-right: 0;
  }

  .skills {
      margin-top: 15px;
      h3 {
          font-size: 1rem;
      }

      .skill {
          h4 {
              font-size: 0.9rem;
          }

          .progress-bar {
              height: 8px;
          }
      }
  }
}

@media (min-width: 1200px) {
  .h4, h4 {
      font-size: 1.2rem;
  }
}