// _variables.scss
$primary-color: rgb(44, 62, 80); /* Azul oscuro */
$secondary-color: rgb(26, 188, 156); /* Verde pasto */
$bg-color: rgb(244, 244, 249); /* Fondo claro */
$header-bg-color: rgb(236, 240, 241); /* Fondo del header */
$white-color: rgb(255, 255, 255); /* Blanco */
$light-gray: rgb(189, 195, 199); /* Gris claro */
$highlight-color: rgb(243, 156, 18); /* Amarillo cálido */
