$primary-color: rgb(44, 62, 80); /* Azul oscuro elegante */
$secondary-color: rgb(26, 188, 156); /* Verde esmeralda vibrante */
$bg-color: rgb(248, 249, 250); /* Fondo claro y suave */
$header-bg-color: rgb(236, 240, 241); /* Fondo suave para el header */
$white-color: rgb(255, 255, 255); /* Blanco puro */
$light-gray: rgb(189, 195, 199); /* Gris suave y moderno */
$highlight-color: rgb(26, 188, 156); /* Amarillo dorado sofisticado */
