@use 'variables';
@use 'mixins';
@use 'base';
@use 'header';
@use 'cards';
@use 'timeline';
@use 'galeria';
@use 'footer';
@use 'buttons';
@use 'motiongrafics';
@use 'cv';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
